<?php include(ROOT.'/views/layouts/header.html'); ?>
 
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 padding-right">
                   

                   <?php 

                   if($result){
                        echo 'Вы успешно зарегестрированы'; 
                   }

                   else {
                        if(isset($errors) && is_array($errors)){
                        foreach($errors as $error):
                            echo '- '.$error.'<br>'; 
                        endforeach; 
                    }
                 
                   ?>
                       <div class = "signup-form">
                            <h2>Форма регистрации</h2>

                            <form action = "#" method = "POST">
                                <input type = "text" name = "name" placeholder="Имя" value = "<?php echo $name; ?>">
                                <input type = "email" name = "email" placeholder="email" value = "<?php echo $email; ?>">
                                <input type = "password" name = "password" placeholder="password" value = "<?php echo $password; ?>">
                                <input type = "submit" name = "submit" value = "Регистрация">
                                
                            </form>
                         
                       </div>
                    <?php  } ?>

                    </div>
                </div>
            </div>
        </section>

  
        <?php include(ROOT.'/views/layouts/footer.html'); ?>