<?php include(ROOT.'/views/layouts/header.html'); ?>
 
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 padding-right">
 

                       <div class = "signup-form">
                            <h2>Редактирование данных пользователя</h2>

                            <form action = "#" method = "POST">
                                 
                                <input type = "name" name = "name" placeholder="name" value = "<?=$name; ?>">
                                <input type = "password" name = "password" placeholder="password" value = "<?=$password; ?>">
                                <input type = "submit" name = "submit" value = "Сохранить">
                                
                            </form>
                         
                       </div>
  
                  
                    </div>
                </div>
            </div>
        </section>

  
<?php include(ROOT.'/views/layouts/footer.html'); ?>